* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: gray;
}
.banner {
  background-size: cover;
  background-position: center;
  min-height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.banner h3 {
  display: inline;
  background-color: whitesmoke;
}
#CONTACT-ME {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#CONTACT-ME a {
  margin-left: 30px;
}
#CONTACT-ME a img {
  min-height: 32px;
  max-height: 32px;
}
.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 0;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav a {
  margin-left: 20px;
}
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
.media {
  max-height: 48px;
}
ul a img {
  max-width: 48px;
  max-height: 48px;
}
